@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto',
        sans-serif;
    /* -webkit-tap-highlight-color: transparent; */
}

.divtwoji {
    display: grid;
    width: 50%;
    grid-gap: 10%;
    margin: auto;
    font-size: 1.2em;
    padding: 4em;
    grid-template-columns: 45% 45%;
}

.magicalcontainer {
    width: 60%;
    margin: 2em auto;

}

.twogrid {
    display: grid;
    grid-template-columns: 48% 48%;
    gap: 4%;
}

@media (max-width:600px) {
    .divtwoji {
        width: 100%;
        padding: 1em;
    }

    .twogrid {
        display: block;
    }

    .magicalcontainer {
        width: 90%;
    }
}



/* another */

.instagramlayout {
    width: 70%;
    margin: auto;
}

.instagrid {
    column-count: 3;
    column-gap: 20px;
}

.imgshort img {
    width: 100%;
    margin-bottom: 1em;
    height: 300px;
    object-fit: cover;
    object-position: center;
}

.imgshort .stats {
    display: none;
}

.imgshort.itstrue .stats {
    display: block;
}


/* klasgd */

.slider {
    position: relative;
    width: 100%;
    height: 400px;
}

.slider img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.5s;
    opacity: 0;
}

.slider img.active {
    opacity: 1;
}

/* menu */

.aasan_video {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-bottom: 5em;
    margin-top: 5em;
}


.controls {
    display: flex;
    align-items: center;
    position: absolute;
    padding: 1em;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}


.controls img {
    filter: invert(1);
}

.controls img:first-child {
    width: 30px;
    height: 30px;
    margin-right: 1em;
}

.controls img:first-child:hover {
    filter: sepia();
    box-shadow: 0 0 1em beige;
    border-radius: 50px;
}

.controls input[type="range"] {
    width: 100%;
    border-radius: 50px;
}


.controls input[type='range'] {
    -webkit-appearance: none;
    width: 100%;
    transition: .2s ease-in;
    margin: 10px 0;
}

.controls input[type='range']:focus {
    outline: none;
}

.controls input[type='range']::-webkit-slider-runnable-track {
    background-color: beige;
    border-radius: 1em;
}

.controls input[type='range']::-moz-range-track {
    background-color: beige;
}

.controls input[type='range']::-ms-track {
    background-color: beige;
}

.controls input[type='range']::-webkit-slider-runnable-track,
.controls input[type='range']::-moz-range-track,
.controls input[type='range']::-ms-track {
    background-color: red;
}


.controls input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #000;
    cursor: pointer;
}


.controls:after {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    filter: contrast(0.5) blur(3px);
    background-color: #ffffff17;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.aasan_video video {
    width: 100%;
}

@media (max-width:600px) {
    .controls {
        padding: .4em 1em;
    }
}