.themenu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .4em 2em;
    position: relative;
}

.logo img {
    width: 2em;
}


.nav {
    display: flex;
    list-style: none;
    padding: 1em;
    gap: 5%;
    justify-content: flex-end;
}

.menu {
    margin: 0;
}

.submenu_close {
    display: none;
    max-height: 0;
    transition: max-height 0.5s ease-in-out;
}

.menua a {
    text-decoration: none;
    color: black;
}

.menua a:hover {
    text-decoration: underline;
    color: black;
}

.submenu_open {
    display: block;
    list-style: none;
    position: absolute;
    width: max-content;
    top: 2em;
    box-shadow: 0 0 2px #2b2b2b2e;
    border-radius: .2em;
    background: white;
    min-width: 200px;
    max-width: max-content;
    cursor: pointer;
    max-height: auto;
    /* or any other value that allows the submenu to fully open */
    z-index: 1;
    transition: max-height 0.5s ease-in-out;
}

.dropdownlinks {
    position: relative;
    cursor: pointer;
}

/* .submenu_open:before {
    content: '';
    position: absolute;
    top: -10px;
    left: 5%;
    transform: rotate(180deg);
    margin-left: -5px;
    border-width: 10px 10px 0;
    border-style: solid;

    border-color: rgb(34, 33, 33) transparent transparent;
} */

.ohosublink {
    /* margin-bottom: 1em; */
    padding: .6em;
}

.ohosublink:hover {
    background-color: aliceblue;
}

.ohosublink:last-child {
    margin-bottom: 0;
}

.ohosublink a {
    text-decoration: none;
}

.mobilemenubtn {
    display: none;
}


@media (min-width:600px) {
    .menu {
        width: 90%;
        float: right;
    }
}


@media (max-width:600px) {
    .nav {
        flex-direction: column;
        width: initial;
    }

    .menu.open {
        display: block;
        position: absolute;
        top: 2.6em;
        left: 0;
        right: 0;
        background: white;
        z-index: 999;
    }

    .menu.close {
        display: none;
    }

    .mobilemenubtn {
        display: block;
        width: 2em;
        height: 2em;
        background: black;
        color: white;
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: .3em;
    }



    .nav span {
        float: right;
    }

    .ohosublink a {
        position: relative;
    }

    .ohosublink a:before {
        content: '';
        width: .4em;
        height: 2px;
        background: black;
        position: absolute;
        left: -.6em;
        top: 7px;
    }

    .submenu_open {
        position: initial;
        width: 100% !important;
        max-width: initial;
        top: initial;
        left: initial;
        margin-top: 1em;
        box-shadow: none;
        border-left: 2px solid black;
        overflow-y: scroll;
        max-height: calc(100vh - 40vh);
        min-height: 100px;
        height: max-content;
    }

    .menua {
        padding: .4em;
    }
}