.youtubepop {
    display: flex;
    position: relative;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    align-items: center;
    background: aliceblue;
    justify-content: center;
    z-index: 10000000;
}


/* 
.youtubepop::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    filter: blur(1px);
    z-index: -1;
}

 */


button.cloasebtn {
    background: transparent;
    border: none;
    position: absolute;
    top: 1em;
    right: 1em;
    padding: 1em;
    font-size: 1.6em;
}

button.cloasebtn:hover {
    background: white;
    filter: drop-shadow(1px 3px 3px beige);
    border-radius: 5em;
}